<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Kampala Holiday Homes">
    <meta property="og:description" content="Book your dream holiday home in Kampala today. Affordable prices, amazing locations, and unbeatable comfort.">
    <meta property="og:image" content="https://kampalaholidayhomes.onrender.com/images/holiday_homes_banner.jpg">
    <meta property="og:url" content="https://kampalaholidayhomes.onrender.com">

    <title>Kampala Holiday Homes</title>
    <link rel="stylesheet" href="styleLib/bootstrap.min.css">
    <link rel="stylesheet" href="styleLib/style.css">
</head>
<body>
    <div class="container">
        <div class="row kampala">
            <div class="col-12"><img src="images/holiday_homes_banner.jpg" alt="Kampala Holiday Homes"></div>
        </div>
    </div>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Kampala Holiday Homes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/properties">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/advertise">Advertise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutUs">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactUs">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    <div class="container">
        <div class="hero row bg-image d-flex align-items-center justify-content-center" style="min-height: 500px; background-image: url('images/bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
                <div class="rounded-1 bg-dark text-center text-light py-2" style="opacity: 75%; max-width: 80%;">
                  <h1 class="mb-4">Luxury Villas for Rent</h1>
                  <p class="lead mb-5">Experience the ultimate comfort and relaxation in our top-rated villas</p>
                  <p>Kampala Holiday Homes offers a unique range of luxury holiday homes for short lets in areas around Kampala. All of our homes are beautifully furnished to Western Europe standards and are targeted to individuals living outside Uganda in need of short term accommodation.</p>
                  <a href="https://www.paypal.com/webapps/shoppingcart?flowlogging_id=f8761408f6fea&mfid=1681382805559_f8761408f6fea" target="_blank" class="btn btn-primary btn-lg">Book Now<p class="p-0 m-0">£20</p></a>
                </div>
        </div>
        <div class="row bg-gradient text-warning bg-success bg-dark">
            <p>Our luxurious selection of holiday homes is the perfect choice for families, friends, or couples who want the ultimate in comfort, privacy and relaxation. Why inconvenience relatives when you maintain your independence and be able to leave and enter as you please. This is truly an experience not to be missed. It is a Home from Home experience. Kampala Holiday Homes is rapidly growing company and we are constantly looking for houses that meet the above criteria to add to our portfolio. So if you have such a property in the Kampala area, why not contact us and find out how joining the Kampala Holiday Homes family can work for you. Our site receives hundreds of visitors each week looking for high quality vacation homes to let on short term contracts.</p>
        </div>
        <div class="row gallery">
            <h2 class="text-center">Our Top rated Villas</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 pb-2 m-0 bg-dark">
              <% if(typeof houses === 'undefined' || houses.length<1) { %>
                <h1>Not yet rated by our customers</h1>
              <% } else { %>
                <% for(i=0; i < houses.length; i++){ %>
                  <% if (i == 3) { %>
                  <% break; %>
                  <% } %>
                  <div class="col">
                    <div class="card h-100">
                      <img src="images/<%= houses[i].name %>/<%= houses[i].image %>" class="card-img-top" alt="House Image">
                      <div class="card-body">
                        <h5 class="card-title"><%= houses[i].name %> - <%= houses[i].location %></h5>
                        <p class="card-text"><%= houses[i]['simple-description'] %></p>
                      </div>
                      <div class="card-footer">
                        <a href="/properties/<%= houses[i]["location"] %>/<%= houses[i]["name"] %>/<%= i %>" class="btn btn-primary">View House Details</a>
                      </div>
                    </div>
                  </div>
                <% } %>
              <% } %>              
            </div>
        </div>
        <div class="row footer">
            <div class="col-12 bg-danger">
                <p class="text-light text-center">&copy; KAMPALA HOLIDAY HOMES</p>
            </div>
        </div>
    </div>
    <script src="styleLib/jquery.js"></script>
    <script src="styleLib/js.js"></script>
    <script>
  </script>
</body>
</html>